.overview_action {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	padding: var(--space-xxxxxxl) var(--space-xs);
	gap: var(--space-xxl);
	height: 512px;
	@media (min-width: 1280px) and (max-width: 1919px) {
		height: initial;
	}
	@media (min-width: 744px) and (max-width: 1279px) {
		height: 566.5px;
	}
	@media (max-width: 743px) {
		height: 332px;
	}
}

.overview_action_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--space-m);
	width: 100%;
	justify-content: center;
}

.overview_action_title {
	color: var(--color-gray-light-700);
	font: var(--font-heading-xxxxlarge);
	text-align: center;
	@media (min-width: 1280px) and (max-width: 1919px) {
		font: var(--font-heading-xxxlarge);
	}
	@media (min-width: 744px) and (max-width: 1279px) {
		font: var(--font-heading-xxxlarge);
	}
	@media (max-width: 743px) {
		font: var(--font-heading-xxlarge);
	}
}

.overview_action_actions {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--space-xxs);
	width: 676px;
	flex: 1 0 0;
	max-width: 100%;
	@media (min-width: 1280px) and (max-width: 1919px) {
		width: 436px;
	}
	@media (min-width: 744px) and (max-width: 1279px) {
		width: 436px;
	}
	@media (max-width: 743px) {
		width: 100%;
	}
}

.overview_action_button {
	width: 186px !important;
	justify-content: center !important;
	border-radius: var(--border-radius-xlarge) !important;
}
