.depo_reach {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: calc(var(--space-xxxxxl) + var(--space-xl)) var(--space-m) var(--space-m) var(--space-m);
	height: 100%;
	gap: var(--space-xxl);
}

.depo_reach_title {
	font-family: var(--font-heading-large-family);
	font-size: 4rem;
	font-weight: 400;
	line-height: 4.25rem;
	color: var(--color-gray-light-700);
	letter-spacing: -1.28px;
	text-align: center;
}

.depo_reach_options {
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);
	width: 100%;
}

.depo_reach_protocols {
	display: flex;
	align-items: flex-start;
	gap: var(--space-xs);
	width: 100%;
}

.depo_reach_data {
	display: flex;
	gap: var(--space-xs);
	width: 100%;
	min-width: 0;
	flex-wrap: wrap;
}

.depo_reach_data > * {
	flex: 1 1 0;
	min-width: 0;
}

.depo_reach_partners {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--space-xxl);
}

@media (min-width: 1025px) and (max-width: 1919px) {
	.depo_reach_title {
		font-size: 3rem;
		line-height: 3.5rem;
		letter-spacing: -0.96px;
	}

	.depo_reach_data > :first-child {
		flex: 0 0 33.5%;
		max-width: 33.5%;
	}
	.depo_reach_data > :not(:first-child) {
		flex: 1 1 0;
		max-width: calc((100% - 33.5%) / 3);
	}
}

@media (min-width: 641px) and (max-width: 1024px) {
	.depo_reach_title {
		font-size: 3rem;
		line-height: 3.5rem;
		letter-spacing: -0.96px;
	}

	.depo_reach_protocols {
		flex-direction: column;
	}

	.depo_reach_data > :first-child {
		flex: 0 0 100%;
		max-width: 100%;
		order: 0;
	}
	.depo_reach_data > :not(:first-child) {
		flex: 0 0 calc((100% - 2 * var(--space-xs)) / 3);
		max-width: calc((100% - 2 * var(--space-xs)) / 3);
		order: 1;
	}
}

@media (max-width: 640px) {
	.depo_reach_title {
		font-size: 3rem;
		line-height: 3.5rem;
		letter-spacing: -0.96px;
	}

	.depo_reach_protocols {
		flex-direction: column;
	}

	.depo_reach_data > * {
		flex: 0 0 100%;
		max-width: 100%;
	}
}
