.lanca_reach {
	width: 100%;
	height: 100%;
	display: flex;
	min-width: 1280px;
	max-width: 1920px;
	padding: var(--space-xxxxxxl) var(--space-xs) var(--space-xs) var(--space-xs);
	flex-direction: column;
	align-items: center;
	gap: var(--space-xxl);
	align-self: stretch;
	@media (max-width: 1279px) {
		width: 100%;
		max-width: 100%;
		min-width: initial;
	}
}

.lanca_reach_title {
	font: var(--font-heading-xxxxlarge);
	@media (min-width: 1280px) and (max-width: 1919px) {
		font: var(--font-heading-xxxlarge);
	}
	@media (min-width: 744px) and (max-width: 1279px) {
		font: var(--font-heading-xxxlarge);
	}
	@media (max-width: 743px) {
		font: var(--font-heading-xxlarge);
	}
	color: var(--color-gray-light-700);
}

.lanca_reach_options {
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);
	width: 100%;
}

.lanca_reach_protocols {
	display: flex;
	align-items: flex-start;
	gap: var(--space-xs);
	width: 100%;
	@media (max-width: 1279px) {
		flex-direction: column;
		gap: var(--space-xs);
		& > * {
			width: 100%;
		}
	}
}
.lanca_reach_backgroung_animation {
	display: flex;
	height: 613px;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	overflow: auto;
	& > * {
		width: 100% !important;
		border-radius: var(--space-l);
		overflow: auto;
	}
}
@media (min-width: 1025px) and (max-width: 1919px) {
	.lanca_reach_title {
		font-size: 3rem;
		line-height: 3.5rem;
		letter-spacing: -0.96px;
	}

	.lanca_reach_data > :first-child {
		flex: 0 0 33.5%;
		max-width: 33.5%;
	}
	.lanca_reach_data > :not(:first-child) {
		flex: 1 1 0;
		max-width: calc((100% - 33.5%) / 3);
	}
}

@media (min-width: 641px) and (max-width: 1024px) {
	.lanca_reach_title {
		font-size: 3rem;
		line-height: 3.5rem;
		letter-spacing: -0.96px;
	}

	.lanca_reach_protocols {
		flex-direction: column;
	}

	.lanca_reach_data > :first-child {
		flex: 0 0 100%;
		max-width: 100%;
		order: 0;
	}
	.lanca_reach_data > :not(:first-child) {
		flex: 0 0 calc((100% - 2 * var(--space-xs)) / 3);
		max-width: calc((100% - 2 * var(--space-xs)) / 3);
		order: 1;
	}
}

@media (max-width: 640px) {
	.lanca_reach_title {
		font-size: 3rem;
		line-height: 3.5rem;
		letter-spacing: -0.96px;
	}

	.lanca_reach_protocols {
		flex-direction: column;
	}

	.lanca_reach_data > * {
		flex: 0 0 100%;
		max-width: 100%;
	}
}
