.product_reach_card {
	display: flex;
	padding: var(--space-xs);
	flex-direction: column;
	align-items: flex-start;
	gap: var(--space-l);
	flex: 1 0 0;
	border-radius: var(--space-xl);
	background: var(--color-gray-50);
	.product_reach_card_heading {
		display: flex;
		padding: var(--space-m);
		flex-direction: column;
		align-items: flex-start;
		gap: var(--space-l);
		align-self: stretch;
		.product_reach_card_header {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: var(--space-xs);
			align-self: stretch;
			.product_reach_card_title {
				color: var(--color-gray-700);
				font: var(--font-heading-large);
				font-size: 40px;
				font-style: normal;
				font-weight: 500;
				line-height: 48px; /* 120% */
				letter-spacing: -0.8px;

				@media (min-width: 1280px) and (max-width: 1919px) {
					font: var(--font-heading-xxlarge);
				}
				@media (min-width: 744px) and (max-width: 1279px) {
					font: var(--font-heading-xxlarge);
				}
				@media (max-width: 743px) {
					font: var(--font-heading-xlarge);
				}
			}
			.product_reach_card_detail {
				display: flex;
				align-items: flex-start;
				gap: var(--space-xs);
				width: 100%;

				.product_reach_card_text {
					flex: 1;
					color: var(--color-gray-600);
					font: var(--font-body-xlarge);

					@media (min-width: 1280px) and (max-width: 1919px) {
						font: var(--font-heading-large);
					}
					@media (min-width: 744px) and (max-width: 1279px) {
						font: var(--font-heading-large);
					}
					@media (max-width: 743px) {
						font: var(--font-heading-large);
					}
				}
			}
		}

		.product_reach_card_action {
			display: flex;
			width: 100%;
		}
	}

	.product_reach_card_visual {
		width: 100%;
		height: 383.333px;
		display: flex;
		justify-content: center;
		margin-top: auto;
		align-items: center;
		border-radius: var(--border-radius-large);
		overflow: auto;
		@media (min-width: 1280px) and (max-width: 1919px) {
			height: 400px;
		}
		@media (min-width: 744px) and (max-width: 1279px) {
			height: 356px;
		}
		@media (max-width: 743px) {
			height: 214.375px;
		}

		& > * > * {
			height: 100% !important;
		}
	}
}
