.reach_card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: var(--space-xs);
	width: 100%;
	border-radius: var(--border-radius-xlarge);
	background-color: var(--color-gray-50);
	transition:
		background-color 0.2s ease,
		transform 0.2s ease;
}

.reach_card_link,
.reach_card_button {
	cursor: pointer;
	text-decoration: none;
	border: none;
}

.reach_card_link:hover,
.reach_card_button:hover {
	background-color: var(--color-gray-100);
	transform: translateY(-2px);
}

.reach_card_button {
	text-align: left;
}

.reach_card_header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--space-l);
	width: 100%;
	padding: var(--space-m);
}
.reach_card_header_heading {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--space-s);
	width: 100%;
}
.reach_card_header_meta_title {
	color: var(--color-gray-600);
}
.reach_card_header_meta_tags {
	display: flex;
	flex-direction: row;
	justify-content: start;
	flex-wrap: wrap;
	gap: var(--space-xxs);
}
.react_card_title_wrap {
	display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: center;
}
.reach_card_title {
	color: var(--color-gray-700);
	font-family: var(--font-heading-medium-family);
	font-size: 3rem;
	font-weight: 500;
	line-height: 3.5rem;
	letter-spacing: -0.96px;
}

.reach_card_subtitle {
	color: var(--color-gray-500);
	font-family: var(--font-heading-medium-family);
	font-size: 3rem;
	font-weight: 500;
	line-height: 3.5rem;
	letter-spacing: -0.96px;
	width: 90%;
}

.reach_card_visual {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: auto;
	align-items: center;
	border-radius: var(--border-radius-large);
	overflow: auto;
}

@media (min-width: 641px) and (max-width: 1919px) {
	.reach_card_title,
	.reach_card_subtitle {
		font-size: 2rem;
		line-height: 2.25rem;
		letter-spacing: -0.64px;
		width: 100%;
	}
}

@media (max-width: 640px) {
	.reach_card_title,
	.reach_card_subtitle {
		font-size: 2rem;
		line-height: 2.25rem;
		letter-spacing: -0.64px;
	}
}
