.social_icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	padding: var(--space-xs);
	border-radius: var(--border-radius-small);
	cursor: pointer;
	background-color: var(--color-gray-50);
	transition:
		background-color 0.2s ease,
		transform 0.2s ease;
}

.social_icon:hover {
	background-color: var(--color-gray-light-100);
	transform: translateY(-2px);
}
