.social_icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	padding: var(--space-xs);
	border-radius: var(--border-radius-small);
}

.twitter {
	background-color: var(--color-gray-light-600);
}

.discord {
	background-color: rgba(88, 101, 242, 1);
}

.medium {
	background-color: var(--color-gray-light-600);
}
