.home_reach {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: calc(var(--space-xxxxxl) + var(--space-xl)) var(--space-m) var(--space-m) var(--space-m);
	height: 100%;
	gap: var(--space-xxl);
}

.home_reach_title {
	font-family: var(--font-heading-large-family);
	font-size: 4rem;
	font-weight: 500;
	line-height: 4.25rem;
	color: var(--color-gray-light-700);
	letter-spacing: -1.28px;
	text-align: center;
}

.home_reach_options {
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);
	width: 100%;
}

.home_reach_protocols {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--space-xs);
	width: 100%;
}

.home_reach_data {
	display: flex;
	padding: var(--space-l) var(--space-l) 0 var(--space-l);
	align-items: flex-start;
	gap: 32px;
	align-self: stretch;
	width: 100%;
	& > * {
		width: 100%;
	}
}

.home_reach_animation_background {
	display: flex;
	height: 613px;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	overflow: auto;
	& > * {
		width: 100% !important;
		border-radius: var(--space-l);
		overflow: auto;
	}
}
/* Media Query Adjustments */
@media (min-width: 1280px) and (max-width: 1919px) {
	.home_reach_title {
		font-size: 3rem;
		line-height: 3.5rem;
		letter-spacing: -0.96px;
	}
}

@media (min-width: 744px) and (max-width: 1279px) {
	.home_reach_title {
		font-size: 3rem;
		line-height: 3.5rem;
		letter-spacing: -0.96px;
	}

	.home_reach_protocols {
		grid-template-columns: 1fr;
	}
	.home_reach_data {
		flex-wrap: wrap;
		flex-direction: row;
		& > * {
			flex: 1 1 calc(50% - 16px); /* 2 колонки; 16px = gap/2 */
			min-width: 0;
		}
	}
}

@media (max-width: 744px) {
	.home_reach_title {
		font-size: 3rem;
		line-height: 3.5rem;
		letter-spacing: -0.96px;
	}

	.home_reach_protocols {
		grid-template-columns: 1fr;
	}
	.home_reach_data {
		flex-direction: column;
		& > * {
			flex: 1 1 100%; /* каждый на всю ширину */
			min-width: 0;
		}
	}
}
