.overview_infra {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: calc(var(--space-xxxxxxl) + var(--space-xl)) var(--space-m) var(--space-m) var(--space-m);
	width: 100%;
	gap: var(--space-xxl);
}

.overview_infra_description {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--space-m);
}

.overview_infra_description_heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--space-xs);
}

.overview_infra_description_title {
	color: var(--color-gray-light-700);
	font: var(--font-heading-xxxxlarge);
	text-align: center;
	@media (min-width: 1280px) and (max-width: 1919px) {
		font: var(--font-heading-xxxlarge);
	}
	@media (min-width: 744px) and (max-width: 1279px) {
		font: var(--font-heading-xxxlarge);
	}
	@media (max-width: 743px) {
		font: var(--font-heading-xxlarge);
	}
}

.overview_infra_description_subtitle {
	font: var(--font-heading-xlarge);
	color: var(--color-gray-light-600);
	text-align: center;
	@media (max-width: 1919px) {
		font: var(--font-heading-large);
	}
}

.overview_infra_card {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-xs);
	width: 100%;
	justify-content: center;
}

.overview_infra_card > * {
	flex: 1 1 calc(25% - var(--space-xs));
}

@media (min-width: 641px) and (max-width: 1024px) {
	.overview_infra_card > * {
		flex: 1 1 calc(50% - var(--space-xs) / 2);
	}
}

@media (max-width: 640px) {
	.overview_infra_card > * {
		flex: 1 1 100%;
	}
}
