.social_section {
	display: flex;
	flex-direction: column;
	max-width: 202px;
	align-items: flex-start;
	gap: var(--space-xs);
}

.social_title {
	font-family: var(--font-body-medium-family);
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.25rem;
	color: var(--color-gray-light-500);
}

.social_icons {
	display: flex;
	flex-direction: row;
	gap: var(--space-xs);
}

@media (max-width: 640px) {
	.social_section {
		max-width: 100%;
		width: 100%;
	}
}
