.infra_card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

.infra_card_visual {
	display: flex;
	height: 277px;
	padding: var(--space-l);
	border-radius: var(--border-radius-xlarge);
	background-color: var(--color-gray-50);
	width: 100%;
}

.infra_card_content {
	display: flex;
	padding: var(--space-m);
	flex-direction: column;
	align-items: flex-start;
	gap: var(--space-m);
	width: 100%;
}

.infra_card_title {
	font-family: var(--font-heading-large-family);
	font-size: 2rem;
	font-weight: 500;
	line-height: 2.25rem;
	color: var(--color-gray-light-700);
	letter-spacing: -0.64px;
}

.infra_card_action {
	border-radius: var(--border-radius-xlarge) !important;
}
