.build_card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

.build_card_visual {
	height: 384px;
	border-radius: var(--border-radius-large);
	width: 100%;
	background-color: var(--color-gray-50);
}

.build_card_content {
	display: flex;
	flex-direction: column;
	padding: var(--space-m) var(--space-l) var(--space-l) var(--space-l);
	align-items: flex-start;
	gap: var(--space-l);
	width: 100%;
}

.build_card_description {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--space-s);
}

.build_card_title {
	font-family: var(--font-heading-large-family);
	font-size: 3rem;
	font-weight: 500;
	line-height: 3.5rem;
	color: var(--color-gray-light-700);
	letter-spacing: -0.96px;
	width: 80%;
}

.build_card_bullets {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--space-s);
	width: 100%;
}

.build_card_bullet {
	flex: 0 0 8px;
	height: 8px;
	width: 8px;
	background-color: var(--color-accent-600);
	border-radius: 50%;
	margin-top: 6px;
}

.build_card_text {
	flex: 1;
	color: var(--color-gray-600);
	font-family: var(--font-heading-medium-family);
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.375rem;
}

.build_card_bullet_item {
	display: flex;
	align-items: flex-start;
	gap: var(--space-s);
}

.build_card_action {
	border-radius: var(--border-radius-xlarge) !important;
}

@media (min-width: 1025px) and (max-width: 1919px) {
	.build_card_title {
		font-size: 2rem;
		line-height: 2.25rem;
		letter-spacing: -0.64px;
	}

	.build_card_text {
		font-size: 1rem;
		line-height: 1.25rem;
	}
}

@media (min-width: 641px) and (max-width: 1024px) {
	.build_card_title {
		font-size: 2rem;
		line-height: 2.25rem;
		letter-spacing: -0.64px;
	}

	.build_card_text {
		font-size: 1rem;
		line-height: 1.25rem;
	}
}

@media (max-width: 640px) {
	.build_card_title {
		font-size: 2rem;
		line-height: 2.25rem;
		letter-spacing: -0.64px;
	}

	.build_card_text {
		font-size: 1rem;
		line-height: 1.25rem;
	}
}
