/* stylelint-disable selector-class-pattern */

.hero {
	position: relative;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	align-items: center;
	align-self: stretch;
	/* height: 1024px; */
	width: 100%;
	padding: var(--space-xxxxxxl) 268px var(--space-xxxxl) 268px;
	gap: var(--space-xl);
	/* aspect-ratio: 1920 / 1024; */
	@media (min-width: 1280px) and (max-width: 1919px) {
		padding: var(--space-xxxxxxl) 188px var(--space-xxxxl) 188px;
		/* aspect-ratio: 1280 / 720; */
	}
	@media (min-width: 744px) and (max-width: 1279px) {
		/* aspect-ratio: 744 / 1133; */
		padding: 96px 16px 32px 32px;
		align-items: flex-start;
		height: auto;
	}
	@media (max-width: 743px) {
		/* aspect-ratio: 375 / 667; */
		padding: 96px 16px 32px 16px;
		align-items: flex-start;
		height: auto;
	}
	.backgroung_animation {
		position: absolute !important;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 0;
		opacity: 0.8;
		&::after {
			content: '';
			position: absolute;
			inset: 0;
			background:
				linear-gradient(180deg, rgba(252, 252, 253, 0) 80.3%, var(--color-gray-25) 90.44%),
				radial-gradient(100.02% 100% at 49.99% 0%, var(--color-gray-25) 45%, rgba(252, 252, 253, 0) 55%);
			background-blend-mode: normal, normal;
			pointer-events: none;
		}
	}
	.heading {
		z-index: 1;
		width: 100%;
		/* @media (min-width: 1280px) and (max-width: 1919px) {
		} */
		@media (min-width: 744px) and (max-width: 1279px) {
			width: 502px;
		}
		@media (max-width: 743px) {
			width: 100%;
		}

		.title_block {
			width: 100%;
			text-align: center;
			.title {
				color: var(--color-gray-700);
			}
			.description {
				color: var(--color-gray-600);
			}
		}
		.action_block {
			width: 676px;
			@media (min-width: 1280px) and (max-width: 1919px) {
				width: 436px;
			}
			@media (min-width: 744px) and (max-width: 1279px) {
				width: 412px;
			}
			@media (max-width: 743px) {
				width: 100%;
				gap: var(--space-xxs);
			}
		}
	}

	.img_wrap {
		z-index: 1;
		& > * {
			height: 775px;
			aspect-ratio: 193/108;
			@media (min-width: 1280px) and (max-width: 1919px) {
				/* width: 904px; */
				height: 506px;
				aspect-ratio: 159/89;
			}
			@media (min-width: 744px) and (max-width: 1279px) {
				/* width: 1027px; */
				height: 575px;
				aspect-ratio: 334/187;
			}
			@media (max-width: 743px) {
				/* width: 620px; */
				height: 347px;
				aspect-ratio: 134/75;
			}
		}
	}
}
