/* stylelint-disable selector-class-pattern */

.hero {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 1024px;
	width: 100%;

	.backgroung_animation {
		position: absolute !important;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 0;
		opacity: 0.8;

		&::after {
			content: '';
			position: absolute;
			inset: 0;
			background:
				linear-gradient(180deg, rgba(252, 252, 253, 0) 90%, var(--color-gray-25) 100%),
				radial-gradient(100.02% 100% at 49.99% 0%, var(--color-gray-25) 45%, rgba(252, 252, 253, 0) 55%);
			background-blend-mode: normal, normal;
			pointer-events: none;
		}
	}
	.heading {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--space-m);
		z-index: 1;
		.title_block {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: var(--space-xs);
			margin-top: 192px;
			width: 100%;
			text-align: center;
			.title {
				color: var(--color-gray-700);
			}
			.description {
				color: var(--color-gray-600);
			}
		}
		.action_block {
			display: flex;
			flex-direction: row;
			justify-content: center;
			gap: var(--space-xs);
			width: 676px;
		}
	}
	.partners {
		margin-top: auto;
	}
}
