.actions_container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.actions_buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--space-xxs);
}

.action_button {
	border-radius: var(--border-radius-xxxlarge) !important;
}

.burger_button {
	width: 48px !important;
	height: 32px !important;
}
