.lanca_action {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: calc(var(--space-xxxxxl) + var(--space-xl)) var(--space-m);
	height: 100%;
	gap: var(--space-xxl);
}

.lanca_action_content {
	display: flex;
	flex-direction: column;
	gap: var(--space-m);
	width: 100%;
	align-items: center;
	justify-content: center;
}

.lanca_action_title {
	text-align: center;
	color: var(--color-gray-light-700);
	font: var(--font-heading-xxxxlarge);
	@media (min-width: 1280px) and (max-width: 1919px) {
		font: var(--font-heading-xxxlarge);
	}
	@media (min-width: 744px) and (max-width: 1279px) {
		font: var(--font-heading-xxxlarge);
	}
	@media (max-width: 743px) {
		font: var(--font-heading-xxlarge);
	}
}

.lanca_action_actions {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--space-xxs);
	width: 676px;
	flex: 1 0 0;
	max-width: 100%;
	@media screen and (width < 1280px) and (width > 744px) {
		width: 502px;
	}
	@media screen and (width < 744px) {
		width: 502px;
	}
	@media screen and (width < 375px) {
		/* flex-wrap: wrap; */
	}
}

.lanca_action_button {
	width: 186px !important;
	justify-content: center !important;
	border-radius: var(--border-radius-xlarge) !important;
}
