.data_card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--space-xs);
}

.data_card_title {
	color: var(--color-gray-700);
}

.data_card_number {
	font-family: var(--font-heading-medium-family);
	font-size: 4rem;
	font-weight: 500;
	line-height: 4.25rem;
	letter-spacing: -1.28px;
}
.data_card_number_accent {
	color: var(--color-accent-600);
}

@media (min-width: 1025px) and (max-width: 1919px) {
	.data_card_title {
		font-size: 1.125rem;
		line-height: 1.375rem;
	}
}

@media (min-width: 641px) and (max-width: 1024px) {
	.data_card_title {
		font-size: 1.125rem;
		line-height: 1.375rem;
	}
}

@media (max-width: 640px) {
	.data_card_title {
		font-size: 1.125rem;
		line-height: 1.375rem;
	}
}
