.insights {
	display: flex;
	flex-direction: column;
	padding: var(--space-xl) var(--space-xxl) var(--space-xxxl) var(--space-xxl);
	align-items: flex-start;
	gap: var(--space-xl);
	width: 100%;
}

.insights_content {
	display: flex;
	align-items: flex-start;
	gap: var(--space-xl);
	width: 100%;
}

.insights_info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--space-s);
	width: 100%;
}

.insights_title {
	color: var(--color-gray-600);
	font-family: var(--font-body-medium-family);
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.25rem;
}

.insights_container {
	display: flex;
	align-items: flex-start;
	gap: var(--space-xl);
	width: 100%;
}

.insights_column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	alighn-items: flex-start;
	gap: var(--space-xl);
	width: 100%;
}

@media (min-width: 1025px) and (max-width: 1920px) {
	.insights_title {
		font-size: 0.875rem;
		line-height: 1.125rem;
	}
}

@media (min-width: 641px) and (max-width: 1024px) {
	.insights_content {
		flex-direction: column;
	}
}

@media (max-width: 640px) {
	.insights_container {
		flex-direction: column;
	}
	.insights_content {
		flex-direction: column;
	}
}
