.no_chains {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	gap: var(--space-s);
	overflow: hidden;
	padding-top: var(--space-xxl);
}

.no_chains_img {
	width: 160px;
	height: 160px;
}

.no_chains_text {
	font-family: var(--font-body-medium-family);
	font-size: 1.125rem;
	line-height: 1.375rem;
	font-weight: var(--font-weight-bold);
	color: var(--color-gray-light-700);
}
