.home_action {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: calc(var(--space-xxxxxl) + var(--space-xl)) var(--space-m);
	height: 100%;
	gap: var(--space-xxl);
}

.home_action_content {
	display: flex;
	flex-direction: column;
	gap: var(--space-m);
	width: 100%;
	justify-content: center;
}

.home_action_title {
	font-family: var(--font-heading-large-family);
	font-size: 4rem;
	font-weight: 500;
	line-height: 4.25rem;
	color: var(--color-gray-light-700);
	letter-spacing: -1.28px;
	text-align: center;
}

.home_action_actions {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--space-xs);
}

.home_action_button {
	width: 186px !important;
	justify-content: center !important;
	border-radius: var(--border-radius-xlarge) !important;
}

@media (min-width: 1025px) and (max-width: 1919px) {
	.home_action_title {
		font-size: 3rem;
		line-height: 3.5rem;
		letter-spacing: -0.96px;
	}
}

@media (min-width: 641px) and (max-width: 1024px) {
	.home_action_title {
		font-size: 3rem;
		line-height: 3.5rem;
		letter-spacing: -0.96px;
	}
}

@media (max-width: 640px) {
	.home_action_title {
		font-size: 3rem;
		line-height: 3.5rem;
		letter-spacing: -0.96px;
	}
}
