.lanca_faq {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: calc(var(--space-xxxxxl) + var(--space-xl)) var(--space-m) var(--space-m);
	width: 100%;
	gap: var(--space-xxxl);
}

.lanca_faq_title {
	color: var(--color-gray-light-700);
	font: var(--font-heading-xxxxlarge);
	@media (min-width: 1280px) and (max-width: 1919px) {
		font: var(--font-heading-xxxlarge);
	}
	@media (min-width: 744px) and (max-width: 1279px) {
		font: var(--font-heading-xxxlarge);
	}
	@media (max-width: 743px) {
		font: var(--font-heading-xxlarge);
	}
}

@media (min-width: 1025px) and (max-width: 1919px) {
	.lanca_faq_title {
		font-size: 3rem;
		line-height: 3.5rem;
		letter-spacing: -0.64px;
	}
}

@media (min-width: 641px) and (max-width: 1024px) {
	.lanca_faq_title {
		font-size: 3rem;
		line-height: 3.5rem;
		letter-spacing: -0.64px;
	}
}

@media (max-width: 640px) {
	.lanca_faq_title {
		font-size: 3rem;
		line-height: 3.5rem;
		letter-spacing: -0.64px;
	}
}
