.header {
	display: flex;
	min-height: var(--header-height);
	padding: var(--space-xs) var(--space-xxl);
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 640px) {
	.header {
		padding: var(--space-xs) var(--space-m);
	}
}
