.header {
	display: flex;
	min-height: var(--header-height);
	padding: var(--space-xs) var(--space-xxl);
	justify-content: space-between;
	align-items: center;
	position: fixed;
    width: 100%;
	top: 0;
	z-index: 1000;
	background-color: var(--color-gray-light-25, #fcfcfd);
}

@media (max-width: 640px) {
	.header {
		padding: var(--space-xs) var(--space-m);
	}
}
