.nav_item {
	position: relative;
	display: flex;
	align-items: center;
	min-height: 32px;
	padding: var(--space-xxs) var(--space-s);
	gap: calc(var(--space-s) - 2px);
	border-radius: var(--border-radius-small);
	cursor: pointer;
}

.nav_item_content {
	display: flex;
	gap: var(--space-xxs);
}

.nav_item_title {
	font-family: var(--font-body-xlarge-family);
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1.125rem;
	color: var(--color-gray-light-600);
	padding: 3px 4px;
}

.nav_item_trail {
	display: flex;
	align-items: center;
	transform: rotate(0deg) scale(1);
	opacity: 1;
	transition:
		transform 0.35s cubic-bezier(0.4, 0.2, 0.2, 1),
		opacity 0.25s cubic-bezier(0.4, 0.2, 0.2, 1);
	will-change: transform, opacity;
}

.nav_item_dropdown {
	/* to be used on nav_item with dropdown */
}

.nav_item_dropdown:hover,
.nav_item_dropdown:focus-within {
	background-color: var(--color-gray-light-100);
	box-shadow:
		0px 0px 0px 2px var(--color-gray-light-25),
		0px 0px 0px 4px var(--color-accent-light-500);
}

.nav_item_dropdown .dropdown_wrapper {
	display: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 100%;
	width: max-content;
	z-index: 10;
}

.nav_item_dropdown:hover .dropdown_wrapper,
.nav_item_dropdown:focus-within .dropdown_wrapper {
	display: block;
}

.nav_item_dropdown::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	height: 12px;
	background: transparent;
	pointer-events: auto;
}

.nav_item:hover,
.nav_item:focus-visible {
	background-color: var(--color-gray-light-100);
	box-shadow:
		0px 0px 0px 2px var(--color-gray-light-25),
		0px 0px 0px 4px var(--color-accent-light-500);
}

.nav_item_dropdown:hover .nav_item_trail,
.nav_item_dropdown:focus-within .nav_item_trail {
	transform: rotate(180deg) scale(1.15);
	opacity: 0.85;
}
