.build_info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--space-xs);
	width: 100%;
	flex: 1 0 0;
}

.build_info_title {
	font-family: var(--font-body-medium-family);
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.75rem;
	color: var(--color-gray-light-700);
	letter-spacing: -0.48px;
}

.build_info_subtitle {
	font-family: var(--font-body-medium-family);
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.25rem;
	color: var(--color-gray-light-600);
}
