.social_actions {
	display: flex;
	padding: 0 var(--space-xs) var(--space-xs) var(--space-xs);
	flex-direction: column;
	gap: var(--space-xxs);
	align-items: flex-start;
	width: 100%;
}

.social_actions_divider {
	height: 1px;
	width: 100%;
	background-color: var(--color-gray-100);
}

.social_actions_content {
	display: flex;
	gap: var(--space-xxs);
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.social_action {
	width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--border-radius-medium);
	background-color: var(--color-gray-50);
	aspect-ratio: 1/1;
}
