.social_actions {
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);
	align-items: flex-start;
	width: 100%;
}

.social_actions_divider {
	height: 1px;
	width: 100%;
	background-color: var(--color-gray-100);
}

.social_actions_content {
	display: flex;
	gap: var(--space-xxs);
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.social_action {
	width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--border-radius-medium);
	background-color: var(--color-gray-50);
	aspect-ratio: 1 / 1;
	cursor: pointer;
	transition:
		background-color 0.2s ease,
		transform 0.2s ease;
}

.social_action:hover {
	background-color: #f3f1fe;
	transform: translateY(-2px);
}

.social_action:hover svg path,
.social_action:hover svg rect {
	fill: #7e54f1;
	transition: fill 0.2s ease;
}
