.stack_card {
	display: flex;
	padding: var(--space-l);
	gap: var(--space-xl);
	align-items: center;
	width: 100%;
	border-radius: var(--border-radius-xlarge);
}

.stack_card_light {
	background-color: var(--color-gray-50);
}

.stack_card_dark {
	background-color: var(--color-gray-700);
}

.stack_card_content {
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);
	align-items: flex-start;
	width: 100%;
}

.stack_card_title,
.stack_card_number {
	font-family: var(--font-heading-medium-family);
	font-weight: 500;
}

.stack_card_title {
	color: var(--color-gray-600);
	font: var(--font-body-xlarge);
	@media (max-width: 1919px) {
		font: var(--font-body-large);
	}
}

.stack_card_number {
	font: var(--font-heading-xxlarge);
	@media (max-width: 1919px) {
		font: var(--font-heading-xlarge);
	}
}

.stack_card_title_dark {
	color: var(--color-gray-200);
}

.stack_card_title_light {
	color: var(--color-gray-600);
}

.stack_card_number_dark {
	color: var(--color-gray-25);
}

.stack_card_number_light {
	color: var(--color-gray-700);
}
