.logo_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	min-width: auto;
	padding: calc(var(--space-xxs) + 2px) 0;
	gap: calc(var(--space-s) - 2px);
	flex-shrink: 0;
}
