/* stylelint-disable selector-class-pattern */
/* Partners Section */
.home_reach_partners {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	overflow: hidden;
	z-index: 1;
	.home_reach_partners_wrapper {
		display: flex;
		width: 100%;
		justify-content: center;

		.home_reach_partners_track {
			display: flex;
			align-items: center;
			gap: var(--space-xxl);

			.home_reach_partners_logo {
				flex-shrink: 0;
			}
		}
	}
}

/* Animation for screens < 1195px */
.home_reach_partners--scrolling .home_reach_partners_wrapper {
	justify-content: flex-start;
}

.home_reach_partners--scrolling .home_reach_partners_track {
	animation: marquee-scroll 30s linear infinite;
}

.home_reach_partners--scrolling:hover .home_reach_partners_track {
	animation-play-state: paused;
}

@keyframes marquee-scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

@media (min-width: 641px) and (max-width: 1024px) {
	.home_reach_partners_track {
		gap: var(--space-xl);
	}
}

@media (max-width: 640px) {
	.home_reach_partners_track {
		gap: var(--space-xl);
	}
}
